.automate {
	font-size: 4em;
}

label {
	font-size: 1.5em;
	padding-left: .5em;
	padding-right: .5em;
}

#genderReminder {
	font-size: 2em;
	color: red;
	display: none;
}

.form-group input {
	border-radius: .5em;
}

#submitButton {
	border-radius: .5em;
	webkit-font-smoothing: antialiased;
}

.input {
	font-size: 1.25em;
	text-decoration: underline;
}

.story.ng-hide-add {
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
  opacity:0;
}
.story.ng-hide-remove {
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;
  opacity: 1;
}
.story.ng-hide-add, .results.ng-hide-remove {
  display: block!important;
}