.automate {
	font-size: 4em;
}

label {
	font-size: 1.5em;
	padding-left: .5em;
	padding-right: .5em;
}

#genderReminder {
	font-size: 2em;
	color: red;
	display: none;
}

.form-group input {
	border-radius: .5em;
}

#submitButton {
	border-radius: .5em;
	webkit-font-smoothing: antialiased;
}

#submitButton:hover {
	background-color: #00ace6;
}

#replayButton {
	border-radius: .5em;
	webkit-font-smoothing: antialiased;
}

#replayButton:hover {
	background-color: #00ace6;
}

.input {
	color: #ff4d4d;
	font-style: italic;
}

/*animations */

.story.ng-hide {
	opacity: 0;
}

.story:not(.ng-hide) {
	-webkit-animation: 3s show;
	animation: 3s show;
}

@keyframes show {
	from { opacity: 0; }
	to { opacity: 1; }
}

@-webkit-keyframes show {
	from { opacity: 0; }
	to { opacity: 1; }
}

@-moz-keyframes show {
	from { opacity: 0; }
	to { opacity: 1; }
} 
