<!DOCTYPE html>
<html lang="en" ng-app="ngMadLibs">
<head>
    <meta charset="UTF-8">
    <link href="http://netdna.bootstrapcdn.com/bootswatch/3.1.1/yeti/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/style.css" rel="stylesheet">
    <title>ngMadLibs</title>
</head>
<body ng-controller="madLibsController">
  <div class="container">
      <div class="col-md-8 col-md-offset-2">
        <div class="row">
          <div class="col-md-4">
            <img src="img/mad-lib-happy-face.png" id="smile">
          </div>
          <div class="col-md-8">
            <img src="img/ng-mad-libs-logo.png">
            <p class="superBig">Automate This!</p>
          </div>
         </div>
        <div class="row text-center">
          <h1>Our protagonist is:</h1>
          <!-- radio buttons-->
          <input type="radio" ng-checked="{{mad.gender.pronoun == 'he'}}" ng-click="mad.gender.pronoun='he';mad.gender.possessive='his';mad.gender.poss='him'" id="male" name="gender" value="male" placeholder="" ng-model="radioGenderChoice" required>
          <label for="gender">Male</label>
          <input type="radio" ng-checked="{{mad.gender.pronoun == 'she'}}" ng-click="mad.gender.pronoun='she';mad.gender.possessive='her'; mad.gender.poss='her'" id="female" name="gender" value="female" placeholder="" ng-model="radioGenderChoice" required>
          <label for="gender">Female</label>
        </div>
        <hr>
        <form name="madLibForm" ng-submit="submitted = false">
          <div class="row">
            <div class="row text-center">
              <h2>Provide the following words:</h2>
              <h4>(Be sure to fill out all fields!)</h4>
              <hr>
            </div>
            <!-- required user inputs-->
            <div class="col-md-4">
              <div class="form-group">
                <input type="text" class="form-control" id="name" placeholder="name" ng-model="mad.name" required> 
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="jobTitle" placeholder="job title" ng-model="mad.job" required>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="tediousTask" placeholder="tedious task" ng-model="mad.tedious" required>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <input type="text" class="form-control" id="dirtyTask" placeholder="dirty task" ng-model="mad.dirty_task" required>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="celebrity" placeholder="celebrity" ng-model="mad.celebrity" required>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="uselessSkill" placeholder="useless skill" ng-model="mad.useless" required>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <input type="text" class="form-control" id="adjective" placeholder="adjective" ng-model="mad.adjective" required>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="obnoxousCelebrity" placeholder="obnoxious celebrity" ng-model="mad.obnoxious_celebrity" required>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="hugeNumber" placeholder="huge number" ng-model="mad.huge_number" required> 
              </div>
            </div>
          </div>
          <!-- submit button to show madlib -->
          <div class="row text-center">
            <button type="submit" ng-click="submit()" class="btn btn-lg btn-primary submit-btn">Give me the MadLib!</button>
          </div>
        </form>
        <hr>
        <div ng-show="showMadlib && radioGenderChoice && madLibForm.$valid" class="row text center" id="story">
         <h3><span class="input">{{ mad.name }}</span> was a(n) <span class="input">{{ mad.job }}</span> who loved technology. Although {{mad.gender.pronoun}} loved parts of {{ mad.gender.possessive }} job, {{ mad.gender.pronoun }} absolutely hated  <span class="input">{{ mad.tedious }}</span> and <span class="input">{{ mad.dirty_task }}</span>. So, <span class="input">{{ mad.name }}</span> met with {{ mad.gender.possessive }} life mentor <span class="input">{{ mad.celebrity }}</span> who told {{ mad.gender.poss }} to learn <span class="input">{{ mad.useless }}</span> with Thinkful. Thinkful didn't offer a course on <span class="input">{{ mad.useless }}</span> so {{ mad.gender.pronoun }} studied programming instead.</p>
        <br>
         <p>What a great decision! With {{ mad.gender.possessive }} new skills, <span class="input">{{ mad.name }}</span> built a(n) <span class="input">{{ mad.adjective }}</span> robot named <span class="input">{{ mad.obnoxious_celebrity }}</span> that not only loved <span class="input">{{ mad.dirty_task }}</span> but did it <span class="input">{{ mad.huge_number | number}}</span> times faster.</p></h3>
         <hr>
         <!-- reset button -->
         <div class="row text-center" id="replayButton">
         <button class="btn btn-primary" ng-click="reset()">Play Again!</button>
         </div>
         <div>
            <hr>
         </div>
        </div>
      </div>
  </div>
  <footer>
    <p class="row text-center">Created by <a href="http://www.bpatrickcox.com">B. Patrick Cox, Jr.</a></p>
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular-messages.js"></script>
  <script src="js/main.js"></script>
</body>
</html>